@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.card-container{
    background: #fcfcfc;
    font-family: 'Work Sans', sans-serif;
    font-size:46px;
    text-align:center;
    color: #707070;

}
.card-image {
    height:35%;
    width:35%;
    
}
.card {
    margin: 60px auto;
    height:488px;
    width:907px;
    
}
.alphabet {
    margin: 60px auto;
    height:488px;
    font-size:46px;
    white-space:pre-line;
    width:836px;
    
}

.arrows-container > span {
    flex-grow:2;
}
.arrows-container{
    display:flex;
}
.right-arrow-link {
    align-items: flex-end;
    width: 48px;
    height: 48px;
    object-fit: contain;
}
.left-arrow-link {
    align-items: flex-start;
    width: 48px;
    height: 48px;
    object-fit: contain;
}
.number {
    color:#3f88fb;
    font-size:46px;
}
.button {
    width: 158px;
    height: 40px;
    border-radius: 8px;
    background:#fcfcfc;
    font-family:'Work Sans', sans-serif;
    color:#3f88fb;
    margin:10px;
    font-weight:500;
    border: solid 1px #3f88fb;
}

.button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px  rgb(192, 191, 191) ;
}
.buttons-container{
    position: relative;
    bottom: -120px;

}